@using CinemaProject.MVC.Controllers;
@model MovieDetails

@section CSS{
    <link href="~/css/CinemaStyle.css" rel="stylesheet" />
}

<div class="movie">
    <div class="movieText">
        <div>
            <h5>Sortie: @Model.ReleaseYear</h5>
            <h1>@Model.Title@((Model.SubTitle is null)?"":" : "+Model.SubTitle)</h1>
            @if (TempData.ContainsKey("Id_CinemaPlace"))
            {
                <a asp-controller="Cinema" asp-action="@nameof(CinemaController.Diffusions)" asp-route-id="@TempData["Id_CinemaPlace"]">
                    <div class="btn btn-light">
                        Séances
                    </div>
                </a>
            }
            else
            {
                <a asp-controller="Cinema" asp-action="@nameof(CinemaController.Index)">
                    <div class="btn btn-light">
                        Sélectionnez un cinéma
                    </div>
                </a>
            }
        </div>
        <div>
            <h5>(@((Model.Duration/60) + ":" + (Model.Duration%60)))</h5>
            <p>@Model.Synopsis</p>
        </div>
    </div>
        <div class="moviePoster">
            <img src="~/assets/posters/@Model.PosterUrl" alt="@Model.Title" />
        </div>
    <hr />
</div>